.lead {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-top: 56px;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .lead {
    padding: 48px 48px 0px;
  }
}

@media screen and (max-width: 803px) { /*768*/
  .lead {
    padding: 48px 0px 0px;
  }
}