.cover__subtitle {
  margin: 0 auto;
  padding: 0;
  padding-top: 32px;
  max-width: 360px;
  color: #fff;
  font-family: 'Inter', serif, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 378px) {
  .cover__subtitle {
    padding-top: 16px;
    font-size: 14px;
    line-height: 16px;
  }
}