.cover__subtitle {
  margin: 0 auto;
  padding: 32px 0px 0px;
  max-width: 360px;
  color: #fff;
  font-family: 'Inter', serif, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  position: relative;
  z-index: 2;
  box-sizing: border-box;
}

@media screen and (max-width: 378px) {
  .cover__subtitle {
    max-width: 288px;
    padding: 16px 0px 0px;
    font-size: 14px;
    line-height: 16px;
  }
}