.footer__link {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: 'Inter', serif, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.footer__link:hover {
  opacity: 0.8;
  transition-property: opacity;
}

@media screen and (max-width: 710px) {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
  }
}