.cover {
  margin: 0;
  padding: 0;
  width: 100vw;
  max-height: 740px;
  background-image: url('../../images/cover-trains.jpg');
  background-size: cover;  
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  aspect-ratio: 16/10;
}

