.cover__overlay {
  margin: 0;
  padding: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #2A2C2F;
  opacity: 0.3;
  z-index: 1;
}

.cover__overlay:hover {
  opacity: 0.8;
  transition-property: opacity;
}