.place__website {
  grid-area: place__website;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 12px;
  box-sizing: border-box;
}

@media screen and (max-width: 320px) {
  .place__website {
    padding: 0px 16px;
  }
}